<br>
<div class="card bg-light">
        <div class="card-header">Historial Paciente</div>
        <div class="card-body">
          <h5 class="card-title"> Toto Torrez Garay </h5>


          <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th colspan="3" scope="col">11 Novibiembre 2019</th>
          
                    <th scope="col">Alterar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td colspan="3">
                            <form>
                            <div class="row">
                                <div class="col">
                                        <label for="inputEmail4">Consultorio</label>

                                <input type="text" class="form-control" placeholder="Consultorio" value="A1" disabled>
                                </div>
                                <div class="col">
                                        <label for="inputEmail4">Lugar</label>
                                <input type="text" class="form-control" placeholder="Lugar" value="Zona Sur" disabled>
                                </div>
                            </div>
                            </form>
                    </td>
                    <td>

                    </td>
                  </tr>
                  <tr>
                    <th colspan="2">Peso</th>
                    <td colspan="2" >3 kg</td>
                  </tr>
                  <tr>
                        <th colspan="2">Altura</th>
                        <td colspan="2" >56 cm</td>
                      </tr>
                  <tr>
                        <th colspan="2">Cabeza</th>
                        <td colspan="2" >45 cm</td>
                      </tr>
                      <tr class="bg-danger text-white">
                          <td>Estado</td>
                          <td colspan="3"> Desnutrido</td>
                      </tr>

                </tbody>
              </table>

              <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th colspan="3" scope="col">12 Diciembre 2019</th>
              
                        <th scope="col">Alterar</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td colspan="3">
                                <form>
                                <div class="row">
                                    <div class="col">
                                            <label for="inputEmail4">Consultorio</label>
    
                                    <input type="text" class="form-control" placeholder="Consultorio" value="A1" disabled>
                                    </div>
                                    <div class="col">
                                            <label for="inputEmail4">Lugar</label>
                                    <input type="text" class="form-control" placeholder="Lugar" value="Zona Sur" disabled>
                                    </div>
                                </div>
                                </form>
                        </td>
                        <td>
    
                        </td>
                      </tr>
                      <tr>
                        <th colspan="2">Peso</th>
                        <td colspan="2" >10 kg</td>
                      </tr>
                      <tr>
                            <th colspan="2">Altura</th>
                            <td colspan="2" >58 cm</td>
                          </tr>
                      <tr>
                            <th colspan="2">Cabeza</th>
                            <td colspan="2" >47 cm</td>
                          </tr>
                          <tr class="bg-success text-white">
                              <td>Estado</td>
                              <td colspan="3"> Saludable</td>
                          </tr>
    
                    </tbody>
                  </table>
                  <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th colspan="3" scope="col">20 Marzo 2020</th>
                  
                            <th scope="col">Alterar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td colspan="3">
                                    <form>
                                    <div class="row">
                                        <div class="col">
                                                <label for="inputEmail4">Consultorio</label>
        
                                        <input type="text" class="form-control" placeholder="Consultorio" value="A1" disabled>
                                        </div>
                                        <div class="col">
                                                <label for="inputEmail4">Lugar</label>
                                        <input type="text" class="form-control" placeholder="Lugar" value="Zona Sur" disabled>
                                        </div>
                                    </div>
                                    </form>
                            </td>
                            <td>
        
                            </td>
                          </tr>
                          <tr>
                            <th colspan="2">Peso</th>
                            <td colspan="2" > 14 kg</td>
                          </tr>
                          <tr>
                                <th colspan="2">Altura</th>
                                <td colspan="2" >120 cm</td>
                              </tr>
                          <tr>
                                <th colspan="2">Cabeza</th>
                                <td colspan="2" >57 cm</td>
                              </tr>
                              <tr class="bg-warning text-white">
                                  <td>Estado</td>
                                  <td colspan="3"> Normal</td>
                              </tr>
        
                        </tbody>
                      </table>
        </div>
      </div>

